// Topbar
.topbar {
  .sidebarToggleTop {
    height: 2.5rem;
    width: 2.5rem;
    
    &:hover {
      background-color: $gray-400;
    }
    &:active {
      background-color: $gray-400;
    }
  }
  
  .dropdown { 
    position: relative; 
  //   .dropdown-menu { 
  //     width: calc(100% - #{$grid-gutter-width}); 
  //     right: calc($grid-gutter-width / 2); 
  //   } 
  }
  
  .topbar-divider {
    width: 0;
    border-right: 1px solid $border-color;
    height: calc(#{$topbar-base-height} - 2rem);
    margin: auto 1rem;
  }
  
  .nav-item {
    .nav-link {
      height: $topbar-base-height;
      display: flex;
      align-items: center;
      padding: 0 0.75rem;
      &:focus {
        outline: none;
      }
    }
    &:focus {
      outline: none;
    }
  }
}
